[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "==4.4.6"
django-extensions = "==3.2.1"

[packages]
django-dotenv = "==1.4.2"
"psycopg2-binary" = "==2.9.5"
django-allauth = {version = "==64.2.1", extras=["socialaccount"]}
gnupg = "==2.3.1"
whitenoise = "==5.3.0"
gunicorn = "==23.0.0"
raven = "==6.4.0"
django-timezone-field = "==4.2.3"
django-braces = "==1.15.0"
django-axes = "==5.40.1"
Django = "==4.2.15"
celery = {version = "==5.2.7", extras = ["redis"]}
requests = "==2.32.3"

[requires]
python_version = "3.9"
