[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "==3.8.1"
django-extensions = "==3.2.1"

[packages]
django-dotenv = "==1.4.2"
"psycopg2-binary" = "==2.9.5"
django-allauth = "==0.50.0"
gnupg = "==2.3.1"
whitenoise = "==6.7.0"
gunicorn = "==20.1.0"
raven = "==6.4.0"
django-timezone-field = "==4.2.3"
django-braces = "==1.15.0"
django-axes = "==5.40.1"
Django = "==3.2.19"
celery = {version = "==5.2.7", extras = ["redis"]}

[requires]
python_version = "3.9"
