[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "==3.1.1"
django-extensions = "==3.0.9"

[packages]
celery = "==5.0.2"
django = "==3.1.3"
django-allauth = "==0.43.0"
django-axes = "==5.9.0"
django-braces = "==1.14.0"
django-dotenv = "==1.4.2"
django-timezone-field = "==4.0"
gnupg = "==2.3.1"
gunicorn = "==20.0.4"
newrelic = "==5.22.1.152"
psycopg2 = "==2.8.6"
raven = "==6.10.0"
redis = "==3.5.3"
whitenoise = "==5.2.0"

[requires]
python_version = "3.8"
