amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
billiard==3.3.0.23
celery==3.1.23
contextlib2==0.5.1
coverage==4.2
defusedxml==0.4.1
Django==1.10.7
django-allauth==0.30.0
django-braces==1.9.0
django-debug-toolbar==1.5
django-dotenv==1.4.1
django-extensions==1.7.2
django-language-field==0.0.3
django-timezone-field==2.0rc1
fake-factory==0.5.3
gnupg==2.0.2
gunicorn==19.6.0
hypothesis==3.4.2
kombu==3.0.35
oauthlib==1.0.3
packaging==16.8
psutil==4.1.0
psycopg2==2.6.2
pyparsing==2.2.0
python3-openid==3.0.9
pytz==2016.3
raven==5.26.0
redis==2.10.5
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
sqlparse==0.2.1
whitenoise==3.2.1
