{% extends "layout/base.html" %}

{% block content %}
    <h2 class="text-dark">Update your user settings</h2>
    <form action="" method="post" class="form__wrap form__wrap--2col">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
          <div class="col-xxs-12 col-xs-6">
            <div class="form__block">
              {{ form.first_name.errors }}
              {{ form.first_name.label_tag }}
              {{ form.first_name }}
            </div>
          </div>
          <div class="col-xxs-12 col-xs-6">
            <div class="form__block">
              {{ form.last_name.errors }}
              {{ form.last_name.label_tag }}
              {{ form.last_name }}
            </div>
          </div>
          <div class="col-xxs-12 col-xs-6">
            <div class="form__block">
              {{ form.organization.errors }}
              {{ form.organization.label_tag }}
              {{ form.organization }}
            </div>
          </div>
          <div class="col-xxs-12 col-xs-6">
            <div class="form__block">
              {{ form.timezone.errors }}
              {{ form.timezone.label_tag }}
              {{ form.timezone }}
            </div>
          </div>
          <div class="divider">
          </div>
          <div class="col-xxs-12 col-xs-6">
            <div class="form__block">
              {{ form.fingerprint.errors }}
              {{ form.fingerprint.label_tag }}
              {{ form.fingerprint }}
            </div>
          </div>
          <div class="col-xxs-12 col-xs-6">
             <div class="form__block">
              {{ form.keyserver_url.errors }}
              {{ form.keyserver_url.label_tag }}
              {{ form.keyserver_url }}
            </div>
          </div>
          <div class="col-xxs-12 col-xs-6">
            <div class="form__block">
              {{ form.public_key.errors }}
              {{ form.public_key.label_tag }}
              {{ form.public_key }}
            </div>
          </div>
          <div class="col-xxs-12 col-xs-6">
            <p class="label__info">
              <span>Warning!</span>
              <br>
              You can provide the public key in a static away or provide a link to
              your key in a public key server so we can fetch it for you
              (recommended).
            </p>
          </div>
          <div class="divider">
          </div>
          <div class="col-xxs-12 col-xs-6">
            <div class="form__block">
              {{ form.server_signed.errors }}
              {{ form.server_signed.label_tag }}
              {{ form.server_signed }}
            </div>
          </div>
          <div class="col-xxs-12 col-xs-6">
            <p class="label__info">
              <span>Experimental feature!</span>
              <br>
              The "Server signed" feature allows you to improve your security
              by allowing us to sign the (<strong>already encrypted</strong>)
              message with our key, so you can make sure the message really
              came from us. For now, the only e-mail clients confirmed to
              display this correctly are <strong>Evolution</strong> and
              <strong>mutt</strong>.
            </p>
          </div>
        </div>
        <input type="submit" class="btn-default" value="Save"></input>
    </form>
    <small> Do you wish to delete your account? if yes, just click <a href="{% url "humans_delete" %}">here</a></small>
{% endblock content %}
