{% extends "layout/base.html" %}

{% block content %}
<div class="section-definer-dark">
  <div class="section-definer section-resized-extra">
    <section class="text-lightest">
      <div class="row center-xs center-sm">
        <div class="col-xs-12 col-offset-sm-2 col-sm-8 col-offset-md-3 col-md-6 mb-normal">
          <h1 class="title text-light">DELETE ACCOUNT</h1>
          <p>Your account in HawkPost is about to be deleted along with all its contents and settings. Are you sure you want to continue?</p>
        </div>
    </div>
    <div class="row center-xs ">
        <div class="col-xs-12 col-offset-sm-2 col-sm-8 col-offset-md-3 col-md-6">
            <form class="form__wrap" method="post" action="{% url "humans_delete" %}">
                {% csrf_token %}
                <div class="text-left input-anim">
                    <label for="current-password" class="">Insert your current password:</label>
                    <input id="current-password" type="password" name="current_password" placeholder="Current password" class="padding-inside mt-normal"></input>
                </div>
                <br>
                <div>
                    <input type="submit" class="btn-danger" value="Yes, I want to delete everything"></input>
                </div>
                <div>
                    <p class="text-smaller mt-large"><a href="{% url "humans_update" %}" class="text-underline u-blockify">No, take me back to the settings</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</section>
{% endblock content %}
