{% extends "layout/base.html" %}

{% block content %}
<div class="h-section section-definer-dark">
<section class=" section-resized-extra">
<div class="container-fluid">
    <div class="row center-xs">
        <div class="col-xs-12 col-sm-6 col-md-5">
            <h1>Delete Account</h1>
            <p>Your account in HawkPost is about to be deleted along with all its contents and settings. Are you sure you want to continue?</p>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-xs-12 col-sm-5 col-sm-6 col-md-5">
            <form class="form__wrap" method="post" action="{% url "humans_delete" %}">
                {% csrf_token %}
                <div>
                    <label for="current-password">Insert your current password:</label>
                    <input id="current-password" type="password" name="current_password" placeholder="Current password"></input>
                </div>
                <br>
                <div>
                    <input type="submit" class="btn-danger" value="Yes, I want to delete everything"></input>
                </div>
                <div>
                    <a href="{% url "humans_update" %}" class="btn-dark u-blockify">No, take me back to the settings</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</section>
{% endblock content %}
