{% load i18n %}
{% load account socialaccount %}

<div class="md-modal-xs md-effect-1 " id="modal-login">
  <div class="md-content-xs ">
    <button type="button" class="md-close btn-none"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
    <div class="row-s start-xs">
      <form class="login smalltext text-darkest" id="login-form-js" method="POST" action="{% url 'account_login' %}">
        <div class="col-xs-12">
          <h3 class="title "> Login</h3>
          <p>If you have not created an account yet, then please<a class=" md-trigger" href="#modal-signup" data-modal="modal-signup"><span> sign up </span></a></p>
          <p>{% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}
          {% blocktrans with site.name as site_name %}Login in via:  {% endblocktrans %}</p>
          <ul class="gitpad">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
          <br>
          <div class="login-or">
            <p> {% trans 'Or' %} using your email address:</p>
          </div>
          {% include "socialaccount/snippets/login_extra.html" %}
          {% else %}
          <p>{% blocktrans %}If you have not created an account yet, then please <a class="md-trigger" data-modal="modal-signup">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}
          <div class="start-xs text-darkest ">
            {% csrf_token %}
            <div class="input-anim">
              <span id="login-form-errors-js"></span>
              <p>
                {{ login_form.login.label_tag }} {{ login_form.login }}{{ login_form.login.errors }}
              </p>
              <p>
                {{ login_form.password.label_tag }} {{ login_form.password }}{{ login_form.password.errors }}
              </p>
            </div>
            <label class="input-anim" for="id_remember">
              <p> {{ login_form.remember.errors }}
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-8">
                                {{ login_form.remember.label_tag }}
                            </div>
                            <div class="col-xs-2 end-xs">
                                {{ login_form.remember }}
                            </div>
                        </div>
                    </div>
                </div>
              </p>
            </label>
          </div>
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        </div>
        <div class="col-xs-12">
          <button class="primaryAction btn-default md-trigger" data-modal="modal-login" type="submit">{% trans "Login" %}</button>
        </div>
        <div class="col-xs-12 text-lightest">
          <a class="smalltext secondaryAction u-blockify text-left" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="md-modal-xs md-effect-1" id="modal-signup">
  <div class="md-content-xs ">
    <button type="button" class="md-close btn-none"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
    <div class="row-s start-xs ">
      <form class="signup start-xs smalltext text-darkest" id="signup-form-js" method="post" action="{% url 'account_signup' %}">
        <div class="col-xs-12">
          <h3 class="title"> Sign up</h3>
          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}
          <p>Sign up using:</p>
          <ul>
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
          <br>
          <div class="login-or"><p>{% trans 'Or' %} via email address:</p></div>
          {% endif %}
          {% csrf_token %}
          <div class="start-xs text-darkest">
            <div class="input-anim">
              <span id="signup-form-errors-js"></span>
              <p>
                {{ signup_form.email.label_tag }} {{ signup_form.email }}{{ signup_form.email.errors }}
              </p>
              <p>
                {{ signup_form.password1.label_tag }} {{ signup_form.password1 }} {{ signup_form.password1.errors }}
              </p>
              <p>
                {{ signup_form.password2.label_tag }} {{ signup_form.password2 }} {{ signup_form.password2.errors }}
              </p>
            </div>
          </div>
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        </div>
        <div class="col-xs-12">
          <button class="btn-default" type="submit">{% trans "Sign Up" %}</button>
        </div>
        <p>{% blocktrans %}Already have an account? Then please <a class=" md-trigger" href="#modal-login" data-modal="modal-login">Sign in</a>.{% endblocktrans %}</p>
      </form>
    </div>
  </div>
</div>
<div class="md-overlay"></div>
