{% extends "layout/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts:</p>
<p class="hidden">Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  <br>
  <div class="login-or">{% trans 'Or' %} create an hawkpost account <a href="{{ signup_url }}">here</a> and sign in bellow:</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}


 <button class="btn-default md-trigger" data-modal="modal-1" >BATATAS</button>
<div class="md-modal md-effect-1" id="modal-1">
  <div class="md-content ">
    <p class="title">Sign In</p>
     <button class="md-close btn-modal">X</button>
     
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
 
     
       <button class="primaryAction btn-default md-trigger" data-modal="modal-1" type="submit">{% trans "Sign In" %}</button>
      
  <br></br>
  <a class="button secondaryAction u-blockify text-right text-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>
  </div>
</div>
<div class="md-overlay"></div>


{% endblock %}
