{% extends "layout/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="section-definer-dark">
  <div class="section-definer section-resized-extra">
    <section class="text-lightest">
      <div class="row center-xs center-sm">
        <div class="col-offset-sm-1 col-xs-10 col-offset-sm-2 col-sm-8 col-offset-md-3 col-md-6">
          <h1 class="title text-light">{% trans "CHANGE PASSWORD" %}</h1>
          <p>{% trans "Your password is now changed." %}</p>
          <p><a href="{%url "pages_index"%}" class="text-underline ">{% trans "Take me back!" %}</a></p>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
