{% extends "layout/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="section-definer-dark">
  <div class="section-definer section-resized-extra">
    <section class="text-lightest">
      <div class="row center-xs center-sm">
        <div class="col-xs-12 col-offset-sm-2 col-sm-8 col-offset-md-3 col-md-6">
            <h1 class="title text-light">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "CHANGE PASSWORD" %}{% endif %}</h1>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="." class="form__wrap text-left">
                        {% csrf_token %}
                        <div class="text-left input-anim">
                          <div class="mt-normal">
                            <label for="id_password1">{% trans "Insert new password:" %}</label>
                            {{form.password1}}
                            {{form.password1.errors}}
                          </div>

                          <div class="mt-normal">
                            <label for="id_password2">{% trans "Insert new password (again):" %}</label>
                            {{form.password2}}
                            {{form.password2.errors}}
                          </div>
                        </div>

                        <input type="submit" name="action" value="{% trans "change password" %}" class="btn-default hoverable mt-normal mb-small"/>
                    </form>
                {% else %}
                    <p>{% trans "Your password is now changed." %}</p>
                {% endif %}
            {% endif %}
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
