{% extends "layout/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="section-definer-dark">
  <div class="section-definer section-resized-extra">
    <section class="text-lightest">
      <div class="row center-xs center-sm">
        <div class="col-xs-12 col-offset-sm-2 col-sm-8 col-offset-md-3 col-md-6 mb-normal">
          <h1 class="title text-light">{% trans "Change Password" %}</h1>
        </div>
      </div>

      <div class="row center-xs ">
        <div class="col-xs-12 col-offset-sm-2 col-sm-8 col-offset-md-3 col-md-6">
          <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}

            <div class="text-left input-anim mt-normal mb-large">
              <label for="id_oldpassword" class="">{% trans "Insert your current password:" %}</label>
              <input id="id_oldpassword" type="password" name="oldpassword" placeholder="Old Password" class="padding-inside mt-normal text-light" autocomplete="off"></input>
            </div>

            <div class="text-left input-anim mb-normal mb-large">
              <label for="id_password1" class="">{% trans "Insert your new password:" %}</label>
              <input id="id_password1" type="password" name="password1" placeholder="New Password" class="padding-inside mt-normal text-light" autocomplete="off"></input>
            </div>

            <div class="text-left input-anim mb-normal mb-large">
              <label for="id_password2" class="">{% trans "Repeat you new password:" %}</label>
              <input id="id_password2" type="password" name="password2" placeholder="New Password" class="padding-inside mt-normal text-light" autocomplete="off"></input>
            </div>

            <button type="submit" name="action" class="btn-default mt-small">{% trans "Change Password" %}</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
