{% extends "layout/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="section-definer-dark">
  <div class="section-definer section-resized-extra">
    <section class="text-lightest">
      <div class="row center-xs center-sm">
        <div class="col-offset-sm-1 col-xs-10 col-offset-sm-2 col-sm-8 col-offset-md-3 col-md-6 mb-normal">
            <h1 class="title text-light">{% trans "PASSWORD RESET" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="text-left">{% trans "Forgot your password?<br>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>
      </div>
      <div class="row center-xs ">
        <div class="col-offset-sm-1 col-xs-10 col-offset-sm-2 col-sm-8 col-offset-md-3 col-md-6">
          <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form__wrap ">
            {% csrf_token %}
            <div class="text-left input-anim mt-normal">
              <label for="id_email">{% trans "Insert your email:" %}</label>
              <input id="id_email" type="email" name="email" placeholder="Email Address" class="padding-inside mt-normal"></input>
            </div>

            <input type="submit" value="{% trans "Reset My Password" %}" class="btn-blue hoverable mt-normal mb-small"/>
          </form>

          <p class="text-note-white">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
