{% load i18n %}
{% load staticfiles %}

<div class="nav-big smalltext">
  <nav  class="navbar">
    <div class="row middle-xs">
      <div class="col-xs-2 start-xs col-sm-2 col-lg-2">
        <a href="{%url "pages_index"%}" class="row start-xs middle-xs full-height">
          <img src="{%static 'images/logow-small.png'%}" alt="Hawkpost Logo Small" class="logo">
        </a>
      </div>
      <ul class="col-xs-8 end-xs  col-sm-10 col-lg-10">
        {% if request.user.is_authenticated %}
        <li class="navbar__link"><a href="{%url "boxes_list"%}">{% trans "Boxes" %}</a></li>
        <li class="navbar__link"><a href="{%url "humans_update"%}">{% trans "Settings" %}</a></li>
        <li class="navbar__link"><a href="{%url "account_logout"%}">{% trans "Logout" %}</a></li>
        {% else %}
          {% if signup_form and login_form %}
          <li class="navbar__link"><a class="md-trigger" href="#modal-login" data-modal="modal-login" >{% trans "Login" %}</a></li>
          <li class="navbar__link"><a  class="md-trigger" href="#modal-signup" data-modal="modal-signup" >{% trans "Sign up" %}</a></li>
          {% endif %}
        <li class="navbar__link"><a href="{%url "pages_about"%}">{% trans "About" %}</a></li>
        <li class="navbar__link"><a href="{%url "pages_help"%}">{% trans "Support" %}</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>

<div class="nav-small">
  <input type="checkbox" id="nav-trigger" class="nav-controller" />
  <header class="header-bar">
    <label class="" for="nav-trigger"  tabindex="-1">
      <div class="button--icon-container">
        <span class="icon icon--hamburger"></span>
      </div>
    </label>
  </header>
  <!--sidebar-->
  <aside class="nav">
    <label class="overlay" for="nav-trigger"></label>
    <div class="nav__body">
      <div class="nav__header text-darkest"></div>
      <ul class="nav__list col-xs-12 ">
        <label class="nav__item " for="nav-trigger">
          <li><a class="nav__link center-xs" href="{%url "pages_index"%}"><img src="{%static 'images/logob.png'%}" alt="Hawkpost logo" class="logo"></a></li>
          {% if request.user.is_authenticated %}
          <li><a class="nav__link" href="{%url "boxes_list"%}">{% trans "Boxes" %}</a></li>
          <li><a class="nav__link" href="{%url "humans_update" %}">{% trans "Settings" %}</a></li>
          <li><a class="nav__link" href="{%url "account_logout"%}">{% trans "Logout" %}</a></li>
          {% else %}
            {% if signup_form and login_form %}
            <li><a class="nav__link md-trigger" href="#modal-login" data-modal="modal-login">{% trans "Login" %}</a></li>
            <li><a class="nav__link md-trigger" href="#modal-signup" data-modal="modal-signup">{% trans "Sign up" %}</a></li>
            {% endif %}
          <li><a class="nav__link" href="{%url "pages_about"%}">{% trans "About" %}</a></li>
          <li><a class="nav__link" href="{%url "pages_help"%}">{% trans "Support" %}</a></li>
          {% endif %}
        </ul>
      </div>
    </label>
  </aside>
</div>
