{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>PostBox - Submit your content securly</title>
        {% block styles %}
        <script src="https://use.typekit.net/byu0xri.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css" >
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/css/style.css' %}">
        {% endblock styles %}
        <script type="text/javascript" src="{% static 'javascripts/jquery-2.2.2.min.js' %}"></script>
    </head>
    <body>
        {% block header %}
            {% include "layout/navbar.html" %}

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        {% endblock header %}
        <div class="main">
            {% block content %}

            {% endblock content %}
        </div>
        {% block footer %}

        {% endblock footer %}
        {% block scripts %}

        {% endblock scripts %}
    </body>
</html>
