version: 2
jobs:
  build:
    working_directory: ~/hawkpost
    docker:
      - image: cimg/python:3.9.16
        environment:
          PIPENV_VENV_IN_PROJECT: true
          DB_HOST: localhost
          DB_USER: root
          USERNAME: root
      - image: circleci/postgres:16.4.0
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: hawkpost_dev
    steps:
      - checkout
      - run:
          command: |
            pipenv install --dev
      - run:
          command: |
            pipenv run python manage.py collectstatic --no-input
      - run:
          command: |
            pipenv run python manage.py test
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: tr1
