/*
 * BASE STYLES
 * ================================ */

//box-sizing model = margin and paddgin inside element so they don't increase width of component.
*, 
*:before, 
*:after{
  box-sizing: border-box;
}

html,body{
  width:100%;
  height: 100%;
}

html {
  font-size: 100%;
}

body{
  min-width: 320px;
  min-height: 100%;
  height: auto;

  font: normal normal 400 0.9375rem/1.3 "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
