.form__wrap{
	width: 350px;
	max-width: 100%;
    margin: auto;
    border: 1px solid $light;
    box-shadow: 0px 2px 6px 0px rgba($black,0.2);
    padding: $spacing--small  $spacing--medium;
}


label{
	display: block;
	padding: 10px 0px 5px;
	font-size:  0.8125rem;
}

input{
	width: 100%;
	border: 1px solid  $light;
	padding: 10px;
	&:focus{
		outline: none;
		border: 1px solid rgba(0, 0, 0, 0.5);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
	}
}

.box-list{
  border-top: 1px solid $main-color-dark;
  width: 950px;
  margin: auto;
  max-width: 100%;
  margin-top: 30px;
  padding: 20px 10px;
}

.box{
	border: 1px solid $light;
    box-shadow: 0px 2px 6px 0px rgba($black,0.2);
    margin:5px;
    padding: 10px;
}


.btn-default{
	border: none;
    padding: $spacing--small;
    background: $main-color;
    color: white;
    width: 100%;
    transition: all 0.2s ease-in-out;
    font-size: 0.9375rem;
    &:hover{
    	background: $main-color-dark;
    }
}

.btn-dark{
	@extend .btn-default;
	background: $main-color-dark;
	&:hover{
    	background: $black;
    }
}