/*
 * BASE STYLES
 * ================================ */

//box-sizing model = margin and paddgin inside element so they don't increase width of component.
*, 
*:before, 
*:after{
  box-sizing: border-box;
}

html,body{
  width:100%;
  height: 100%;
  margin: 0px;
}

html {
  font-size: 16px;
}

body{
  min-height: 100%;
  height: auto;

  font: normal normal 400 1rem/1.3 Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
 font-size: 1.5rem;
 margin: 0px;
}

ul, ol{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a{
  color: $main-color;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    opacity: 0.7;
  }
}

/* Temporary Remove at will */
.hidden {
  display:none;
}

.footer{
  background: $light;
  color: $main-color-dark;
  padding: 0px $spacing--medium;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: $footer-size;

  p{
    margin: 0px;
    font-size: 13px;
  }

  a{
    font-size: 13px;
    color: $main-color-dark;
    svg{
      height: 11px;
      width: 75px;
    }
  }
}

.footer__links{
  text-align: right;
}

.main{
 padding-top: $nav-size*2;
 text-align: center;
 padding-bottom: 100px;
 max-width:1170px;
 margin: auto;
}

.no-navbar{
  margin-top: -$nav-size;
  margin-bottom: $nav-size;
}

.main-title{
  font-size: 32px;
  color: $main-color;
}

.main-title__sub{
  color: $main-color-dark;
  font-size: 15px;
  margin: 0px;
  font-weight: 600;
}

.logo-big{
  padding: 20px 0px 0px;
}

.main-desc{
  padding-top:20px;
  font-size: 14px;
}

.how{
 padding: 30px 0px;
  width: 750px;
  max-width: 100%;
  margin: auto;
}

.how__box{
  border: 1px solid $light;
  box-shadow: 0px 2px 6px 0px rgba($black,0.2);
  background: rgba($light, 0.2);
  padding: 20px;
  margin: 10px;
  min-height: 150px;
  height: auto;
}

.how__box--big{
  min-height: 165px;
  height: auto;
}

.how__num{
  color:$main-color;
  font-weight: 600;
  font-size: 18px;
  margin: 0px;
  padding:0px 0px 5px;
}

.how__text{
 margin: 0px;
 padding: 0px;
 font-size: 14px;
 color:$main-color-dark;
}

.link-box__box{
  @media (min-width: 768px) {
    float: right;
  }
}  

.link-box__info{
  margin: $spacing--x-large 10px 0px;
  @media (min-width: 768px) {
    text-align: left;
  }
}


.messages{
  position: fixed;
  top: $nav-size;
  left: 50%;
  transform: translate(-50%,0);
  width: 500px;
  max-width: 100%;
  text-align: center;

  li{
    padding: $spacing--small;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .success{
    color: $success-color;
    background-color: $success-back;
    border-color: $success-border;
  }
  .info{
    color: $warning-color;
    background-color: $warning-back;
    border-color: $warning-border;
  }
  .error{
    color: $error-color;
    background-color: $error-back;
    border-color: $error-border;
  }
}

.divider{
  width:100%;
  border-top: 1px solid $light;
  margin: 15px 10px 5px;
}

.text-dark{
  color:$main-color-dark;
}

.text-main{
  color:$main-color;
}

.text-bold{
  font-weight: 600;
}

.text-left{
  text-align: left;
}

.text-note{
  color:$grey;
  font-style: italic;
  font-size: 0.9286rem;
}
.full-height{
  height: 100%;
}

.full-width{
  width: 100%;
}

.u-blockify{
  display: block;
}

.no-margin-top{
  margin-top: 0px;
}

.col-xxs-12{
  @media (max-width: 640px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.order-xs-1st{
  order:1;
  @media (min-width: 768px) {
     order:2;
  }
}

.order-xs-2nd{
   order:2;
  @media (min-width: 768px) {
    order:1;
  }
}