    /*
 * BASE STYLES
 * ================================ */
    
    //box-sizing model = margin and paddgin inside element so they don't increase width of component.
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    
    html {}
/*------------------------------------*\
  #FONTS
\*------------------------------------*/
    
    @font-face {
        font-family: BoldFont;
        src: url(../fonts/Exo-SemiBold.ttf);
        font-weight: bold;
    }
    
    @font-face {
        font-family: TextFont;
        src: url(../fonts/Ayuthaya.ttf);
        font-weight: regular;
    }
    
    //responsive font sizes 
    .title {
        font-family: BoldFont;
        padding: 3vh;
        @media only screen and (min-width: 200px) and (max-width: 480px) {
            font-size: map-deep-get($typescale, 'heading1', 'xs');
        }
        @media (min-width: 800px) and (max-width: 1280px) {
            font-size: map-deep-get($typescale, 'heading1', 'sm');
        }
        @media screen and (min-width: 1200px) and (max-width: 1600px) {
            font-size: map-deep-get($typescale, 'heading1', 'lg');
        }
    }
    
    .text {
        font-family: TextFont;
        color: $main-color50;
        @media only screen and (min-width: 200px) and (max-width: 480px) {
            font-size: map-deep-get($typescale, 'text1', 'xs');
        }
        @media (min-width: 800px) and (max-width: 1280px) {
            font-size: map-deep-get($typescale, 'text1', 'sm');
        }
        @media screen and (min-width: 1200px) and (max-width: 1600px) {
            font-size: map-deep-get($typescale, 'text1', 'lg');
        }
    }

    .smalltext {
        font-family: TextFont;
        color: $main-color50;
        @media only screen and (min-width: 200px) and (max-width: 480px) {
            font-size: map-deep-get($typescale, 'smalltext1', 'xs');
        }
        @media (min-width: 800px) and (max-width: 1280px) {
            font-size: map-deep-get($typescale, 'smalltext1', 'sm');
        }
        @media screen and (min-width: 1200px) and (max-width: 1600px) {
            font-size: map-deep-get($typescale, 'smalltext1', 'lg');
        }
    }
    /*------------------------------------*\
  #BODY
\*------------------------------------*/
    
    body {
        min-height: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.64);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    /*------------------------------------*\
  #LINKS
\*------------------------------------*/
    
    a {
        color: $main-color;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            opacity: 0.7;
        }
    }
