/*------------------------------------*\
 #BOXES
 \*------------------------------------*/
.boxes-container {
  padding: 0 15px;
}


 .box{
    //box-shadow: 0px 0px 15px 4px rgba(0, 0, 0,0.08);
    background: white;
    margin: 5px;
    text-align: left;
    height: 100%;
  }


 .box__info{
   font-size: 13px;
   color: black;
 }

 .box-container, .box-action{
   display:flex;
   flex-direction:column;
 }

 .box-action{
   align-self:stretch;
   justify-content: flex-start;
   border-left: 1px solid black;
   form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    &:first-child {
     border-bottom: 1px solid black;
   }
 }
}

.basic-info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid black;
}

.box-title-desc, .extra-info{
	display: flex;
	flex-direction: column;
	padding-left: 15px;
}

.box-title-desc{
	padding-bottom: 15px;
}

.space{
	margin-bottom: $spacing--xx-large;
}
/*------------------------------------*\
 #BOXES_NAV_BAR_STATUS
 \*------------------------------------*/

 .box__nav{
  width: 100%;
  align-self: center;
  margin-bottom: 0px;
  padding: 0px;

    li{
    	display: inline;
    }
  }

  .box__nav__item{
    color: $white;
   display: inline;
   border-width: 1px;
   margin: 0px;
   padding-top: 12px;
   padding-bottom:12px;
   font-weight: 600;
   display: inline-block;
   text-align: center;
   background: none;
   width: 80px;

   &.active{
    background: none;
    border-bottom: 5px solid $blue;
    color: $white;
    width: 100%;
    &:hover{
      opacity: 1;
    }
  }
}

.outro{
    color:black;
    cursor: pointer;
    &:hover{
   transition: all 0.2s ease-in-out;
   opacity: 0.7;
 }
   }

.new-box-btn{
  @extend .outro;
  background: $blue;
  color: white;
}

.container-fluid{
	.father{
		padding-bottom: 3vh;
	}
	.title{
		padding: initial;
	}
}

.head-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.nav-bar-boxes-{
  background: black;
  padding-top:80px;
}

.boxes-navbar-container{
  padding: 10px 25px 0px;
    @include breakpoint($min: md){
      padding: 10px 80px 0px;
    }
}
