form {
    input[type=text] {
        position: relative;
        background: none;
        border: none;
        border-radius: 0;
        border-top: 2px solid transparent;
        border-bottom: 2px solid $light;
        color: white;
        @extend .text;
        //tamanho da linha azul
        width: 100%;
        &:focus {
            outline: 0;
            box-shadow: none;
            border: none;
            border-top: 1px solid transparent;
            border-bottom: 3px solid #33CCCC;
            animation: example 1s 1;
        }
    }
    input[type=checkbox] {
        &:focus {
            outline: 0;
            box-shadow: none;
            border: none;
        }
    }
    input[type=number],
    select,
    textarea {
        position: relative;
        background: none;
        border: none;
        border-top: 2px solid transparent;
        border-bottom: 2px solid $light;
        color: white;
        //tamanho da linha azul
        width: 100%;
        &:focus {
            outline: 0;
            box-shadow: none;
            border: none;
            border-top: 1px solid transparent;
            border-bottom: 3px solid #33CCCC;
        }
    }
    select {
        margin-top: 17px;
    }
    .label__info {
        border-radius: 2px;
        margin: 10px 0 20px;
    }
    .form__block {
        textarea {
            height: auto;
        }
    }
}

.set {
    margin-bottom: 40px;
}

.label__text {
    margin: 0px;
    padding: 0px;
    color: $light;
    display: none;
    //width: 300px;
}

.label__box {
    background: rgba(235, 235, 235, 0.2);
    width: 50px;
    margin: 10px 10px 20px;
    .subtitle {
        padding: 0;
        margin: 0;
    }
}

.label__box:focus {
    //height: 260px;
    background-color: rgba(78, 217, 185, 0.2);
    .label__text {
        display: block;
    }
}