.row-s{
  max-width: 90%;
  margin: auto;
}

.box__nav__item__help{

    display: inline;
    border: solid #4ca7af;
    border-width: 1px;
    margin: 5px;
    padding: 12px 12px 12px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    background: none;

}

.box__nav{

li{
margin: 0 5px 0;
}
}

.setup{
    max-width:550px;
    width:100%;
    margin:10px 0 10px;
}


.fa{
cursor: pointer;}
label{
//font-size:0.8rem;
}


.input-anim {
    input[type=text], input[type=number], input[type=email], input[type=password],textarea{
        background: none;
        border: none;
        border-radius: 0;
        border-top: 2px solid transparent;
        border-bottom: 2px solid black;
    &:focus {
        outline: 0;
        box-shadow: none;
        border: none;
        border-top: 1px solid transparent;
        border-bottom: 3px solid white;
    }}


   input[type=checkbox] {width:20px;
    height: 20px;}
}
    form {

        select {
            margin-top: 17px;
        }
        .label__info {
            width: 50px;
            border-radius: 2px;
            margin: 10px 0 20px;
            // margin-right: 100px;
        }
        .label__text {
            margin: 0px;
            padding: 0px;
            color: $light;
            display: none;
            //width: 300px;
        }
        .label__info {
            margin: 10px 10px 20px;
            .subtitle {
                padding: 0;
                margin: 0;
                font-size: 16px;
            }
        }
        .label__info:focus {
            //height: 260px;
            background-color: rgba(78, 217, 185, 0.2);
            .label__text {
                display: block;
            }
        }
    }
    .set {
        margin: 40px 0;
    }
    .form__block {
        textarea {
            width: 100%;
            height: auto;
            border-color: $light;
             &:focus {
        outline: none;
        border: 1px solid rgba($main-color-dark, 0.5);
        box-shadow: inset 0 1px 1px rgba($main-color-dark, 0.3);
    }
        }
    }
    /*
-----#POP-UP----*/
    .popup {
        position: relative;
        display: inline-block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        width: 180px;
        background-color: $blue;
        color: #fff;
        text-align: center;
        //border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        margin-left: -110px;
    }
    /* Toggle this class - hide and show the popup */
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
        padding: 6px;
    }
    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
//     Settings 
.margin-columns{
    margin-top: 0 20px 0;
}

.padding-settings{
    padding: 7px 0 3px;
    color: black;
 }

 #id_keyserver_url:disabled {
    background: $lightgrey;
    opacity: 0.7;
 }

 #id_public_key:disabled {
    background: $lightgrey;
    opacity: 0.7;
 }

.checkbox-{
    display: inline-flex;
}
