.form__wrap{
	width: 350px;
	max-width: 100%;
    margin: $spacing--large auto;
    border: 1px solid $light;
    box-shadow: 0px 2px 6px 0px rgba($black,0.2);
    padding: $spacing--small  $spacing--medium;
}

textarea{
	width: 100%;
}

label{
	display: block;
	padding: 10px 0px 5px;
	font-size:  0.8125rem;
}

input{
	width: 100%;
	border: 1px solid  $light;
	padding: 10px;
	&:focus{
		outline: none;
		border: 1px solid rgba(0, 0, 0, 0.5);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
	}
}

.label__info{
	span{
		font-weight: 600;
	}
	font-size: 12px;
	padding: $spacing--medium;
    background: rgba($main-color, 0.2);
    color:$main-color-dark;
    border-radius: 4px;
}

.box-list{
  width: 950px;
  margin: auto;
  max-width: 100%;
  margin-top: 30px;
  padding: 20px 10px;
}

.box{
	border: 1px solid $light;
    box-shadow: 0px 2px 6px 0px rgba($black,0.2);
    margin:5px;
    padding: 10px;
}

.box__desc{
	font-size: 15px;
	color: $main-color;
}

.box__info{
	font-size: 13px;
	color: $grey;
	span{
		color: $main-color-dark;
		font-weight: 600;
	}
}

.box__nav{
	margin-bottom: $spacing--x-large;
	padding: $spacing--small 0px;
	border-top: 1px solid $main-color50;
    border-bottom: 1px solid $main-color50;
}

.box__nav__item{
	display: inline;
	padding: 0px $spacing--small 0px;
	font-weight: 600;
}


.btn-default{
	border: none;
    padding: $spacing--small;
    background: $main-color;
    color: white;
    width: 100%;
    transition: all 0.2s ease-in-out;
    font-size: 0.9375rem;
    cursor: pointer;
    &:hover{
    	background: $main-color-dark;
    }
}

.btn-dark{
	@extend .btn-default;
	background: $main-color-dark;
	&:hover{
    	background: rgba($main-color-dark,0.9);
    }
}

.btn-danger{
	@extend .btn-default;
	background: $error-color;
	&:hover{
    	background: rgba($error-color,0.8);
    }
}
