  /*-------#MAIN-------*/
    
    .main {
        padding-top: $nav-size*2;
        padding-bottom: 100px;
        max-width: 1170px;
        margin: auto;
    }
    
    .no-navbar {
        margin-top: -$nav-size;
        margin-bottom: $nav-size;
    }



    /*-----------------------#SECTION_0------------------*/
    
    .sec_0 {
        padding: 20vh 0 50vh;
        
       
    }

.first{
        font-size: 40px;
    padding-bottom: -2vh;
        
        }
    /*---------#SCROLL-BUTTON-------*/
    
    .span {
        display: inline;
        position: absolute;
        top: 60vh;
        left: 50%;
        width: 24px;
        height: 24px;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb05 1.5s infinite;
        animation: sdb05 1.5s infinite;
        box-sizing: border-box;
    }
    
    .scroll {
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
    }
    
    @-webkit-keyframes sdb05 {
        0% {
            -webkit-transform: rotate(-45deg) translate(0, 0);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }
    
    @keyframes sdb05 {
        0% {
            transform: rotate(-45deg) translate(0, 0);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: rotate(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }



    /*-----------------------#SECTION_1-------------*/
    
    .sec_1 {
        padding: 20vh 0 3vh;
        margin: auto;
        margin-left: 0.5rem;
    }
    
    .logo-big {
        //padding-top: 15px;
        width: 30vw;
        height: auto;
        //margin-left: -0.5rem;
    }
    
    .main-desc {
        padding-top: 0px;
        text-align: left;
        display: inline-flex;
    }
    /*-----------------------#SECTION_2--------------*/
    
    .sec_2 {
        margin: auto;
        margin-left: 0.5rem;
        p {
            font-family: BoldFont;
            color: $black;
            padding-bottom: 15vh;
        }
    }
    /*-------------#BUTTONS-------------*/
    
    .button {
        width: 48vw;
        background-color: #4ca7af;
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 10px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        &:hover {
            background-color: #28666c;
        }
    }



    /*-----------------------#SECTION_3--------------------*/
 


    /*-------#HOW_TO-------*/
 



.how__box {
        align-items: center;
        padding: 20px;
        margin: 10px;
        min-height: 105px;
        height: auto;
        @media (min-width: 768px) {
            min-height: 165px;
        }
    }
    
    .how__text {
        margin: 0px;
        padding: 0px;
        color: $light;
        text-align: left;
    }
    
    .how,
    .faq {
        padding: 9vh 0px;
        width: 850px;
        max-width: 100%;
        margin: auto;
    }