/*---------------MODAL_XS---------------*/
 
 .md-modal-xs {
     top: 7.5vh;
     left: 35.5vw;
     width: 27vw;
     margin: 0 auto 0;
     @include breakpoint ($min: xs) {
         left: 10vw;
         width: 80vw;
     }
     @include breakpoint ($min: md) {
         left: 19.5vw;
         width: 41vw;
     }
     @include breakpoint ($min: sm) {
         left: 27.5vw;
         width: 45vw;
     }
     li {
         list-style: none;
     }
     .title {
         
         margin-bottom: 0;
     }
     .btn-default {
         padding: 0 0 0;
         height: 6vh;
         
         
     }
     @extend .md-modal;
     
 }
 
 .md-content-xs {
     @extend .md-content;
     //padding: 30px 30px 0px;
     background-color: #2abc84;
 
     height: 80vh;
    
      input,
     textarea {
         position: relative;
         background: none;
         border: none;
         border-top: 2px solid transparent;
         border-bottom: 2px solid $light;
         color: white;
         //tamanho da linha azul
         width: 100%;
     &:focus {
         outline: 0;
         box-shadow: none;
         border: none;
         border-top: 1px solid transparent;
         border-bottom: 3px solid #33CCCC;
         animation: example 1s 1;
     }
     }
     
     input[type=number],
    select,
    textarea, input[type=checkbox]  {
        position: relative;
        background: none;
        border: none;
        border-top: 2px solid transparent;
        border-bottom: 2px solid $light;
        color: white;
        //tamanho da linha azul
        width: 100%;
        &:focus {
            outline: 0;
            box-shadow: none;
            border: none;
            border-top: 1px solid transparent;
            border-bottom: 3px solid #33CCCC;
        }
    }
}