{% extends "layout/base.html" %}

{% block content %}

<div class="section-definer-dark">
	<section class=" section-resized-extra">
		<div class="container-fluid">
			<div class="row center-xs">
				<div class="col-xs-12 col-sm-9 col-md-8">
					<p class="text-dark title ">HAWKPOST</p>
					<div class="text-left text-lightest ">
						<p>For many years pigeons were used to send private messages to people. But today, to send private and confidential information a pigeon is not enough. We upgraded the pigeon for a hawk - it's stronger, faster and will protect all of your messages better.</p>
						<p>We know that sometimes it's difficult to explain how to encrypt messages or how to install that software to protect confidential information. That's why we've created Hawkpost - a place where people can send you sensible information in an easy and secure way.</p>
						<p>This project was made at Whitesmith's Hackathon during our company retreat. The aim of this hackathon was to launch a side-project in 24h.</p>
						<p> You can read more about the project in our FAQ at the bottom of our <a class="text-blue" href="https://hawkpost.co/">landing page</a>.</p>
					</div>
				</div>
			</div>
			<br/>
			<div class="row center-xs">
				<div class="col-xs-12 col-sm-9 col-md-8">
					<p class="text-dark title">WHITESMITH</p>
					<div class=" text-left text-lightest">	<p><a class="text-blue" href="https://whitesmith.co">Whitesmith</a> is a web and mobile product development studio founded in 2013 and based in Coimbra (Portugal) and London.
						From Service Oriented Architecture and Internet of Things to Web &amp; Mobile apps, we converge into solving real problems with great user experience. We are more than simple designers &amp; developers - we are an empowered team of problem solvers.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock content %}
