{% extends "layout/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

<div class="section-definer-dark">
  <section class="section-resized">
    <div class="row center-xs">
      <div class="col-xs-9 col-lg-6">
        <p class="title spacing-l text-lightest">{% trans "GET ENCRYPTED DATA FROM PEOPLE THAT DON'T KNOW HOW TO ENCRYPT" %}</p>
        <p class="text text-light">{% blocktrans %}No more sharing of passwords in plain text.
          <br>Send your Hawkpost link, and receive the confidential information encrypted in your inbox. It's that easy.{% endblocktrans %}
        </p>
        <!--<div class="span"><a class="scroll" href="#sec_1"><span>  </span></a></div> -->
      </div>
    </div>
  </section>
</div>


<div class="section-definer-light text-darkest">
  <div class= " h-section section-resized" id="sec_1">
    <div class="row middle-xs">
      <div class="col-xs-12 col-md-12 center-xs">
        <h3 class="title">{% trans "HOW DOES IT WORK?" %}</h3>
      </div>
      <div class="how-container row center-xs">

        <div class="col-xs-12 col-sm-4 cont-space">
          <div class="center-xs middle-xs">
            <img src="{% static 'images/icon1.svg' %}" alt="Representation of a key" class="how-img">
          </div>
          <p class="smalltext text-darkest">{% trans "Sign up and register your PGP key." %}</p>
        </div>

        <div class="col-xs-12 col-sm-4 cont-space">
          <div class="center-xs middle-xs">
            <img src="{% static 'images/icon2.svg' %}" alt="Representation of a computer" class="how-img">
          </div>
          <p class="smalltext text-darkest">{% trans "Send your Hawkpost link to the person that wants to share confidential information with you. Wait for the information to be submitted." %}</p>
        </div>

        <div class="col-xs-12 col-sm-4 cont-space">
          <div class="center-xs middle-xs">
            <img src="{% static 'images/icon3.svg' %}" alt="Representation of a lock" class="how-img">
          </div>
          <p class="smalltext text-darkest">{% trans "Our hawk will deliver the message, now encrypted with your PGP key, to your e-mail." %}</p>
        </div>

      </div>
    </div>
    {% if not request.user.is_authenticated %}
    <div class="row center-xs">
      <div class="col-xxs-12 col-xs-10 col-sm-5 col-lg-5">
        <a class="h-button md-trigger smalltext" data-modal="modal-signup">{% trans "Yup, this is for me" %}</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>


<div class="section-definer-dark faq__container">
  <section class="h-section section-resized">
    <div class="col-xs-12 center-xs start-sm start-lg">
      <h3 class="title text-lightest">{% trans "FAQ" %}</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="faq__box" tabindex="1">
          <p class="faq__title textbold text-lightest">{% trans "Why should I use Hawkpost?" %}</p>
          <p class="faq__text smalltext">{% blocktrans %}Hawkpost is the easiest way to securely receive sensible information from people who don't know how to use PGP (ex: passwords, private keys, confidential messages). Share your Hawkpost link with them, and they're able to send info securely, <b>without installing any software</b>.{% endblocktrans %}</p>
        </div>
        <div class="faq__box" tabindex="1">
          <p class="faq__title textbold text-lightest">{% trans "How does it work behind the curtain?" %}</p>
          <p class="faq__text smalltext">{% blocktrans %}The concept is simple, you generate an unique link on Hawkpost, then you share it with someone that needs to send you secret information. When that person visits your Hawkpost link and submits the sensitive data, this is encrypted <b>in their browser</b> with the PGP public key you used on signup. The encrypted message is sent by our hawks to your email. This means that we're not able to see the original message, and no message is stored.{% endblocktrans %}</p>
        </div>
        <div class="faq__box" tabindex="1">
          <p class="faq__title textbold text-lightest">{% trans "Why is this safe?" %}</p>
          <p class="faq__text smalltext">{% blocktrans %}Hawkpost provides end-to-end encryption using <a href="https://openpgpjs.org/">OpenPGP.js</a> library, which means that the submitted information will be only visible to whom created the link (the owner of the key) and we will not save it. No message is stored.{% endblocktrans %}</p>
        </div>
        <div class="faq__box" tabindex="1">
          <p class="faq__title textbold text-lightest">{% trans "What's PGP?" %}</p>
          <p class="faq__text smalltext">{% blocktrans %}PGP is an encryption technology often used for signing, encrypting, and decrypting texts and files. This is what Hawkpost uses to encrypt messages. You can read more about how to generate your PGP key on the <a href="https://hawkpost.co/help">help page</a>.{% endblocktrans %}</p>
        </div>
      </div>
      <div class=" col-xs-12 col-sm-6">
        <div class="faq__box" tabindex="1">
          <p class="faq__title textbold text-lightest">{% trans "Is my link permanently available?" %}</p>
          <p class="faq__text smalltext">{% trans "No, at the momment you can create as many unique links as you want, one for each occasion. You can set an expiration date for each one. However, other configuration options will be added soon, so you can better adapt the functionality to your use cases." %}</p>
        </div>
        <div class="faq__box" tabindex="1">
          <p class="faq__title textbold text-lightest">{% trans "What type of information can be submitted?" %}</p>
          <p class="faq__text smalltext">{% trans "Any text information can be submitted." %}</p>
        </div>
        <div class="faq__box" tabindex="1">
          <p class="faq__title textbold text-lightest">{% trans "Can I check the source code?" %}</p>
          <p class="faq__text smalltext">{% blocktrans %}Sure. Hawkpost is open-source. You can either check the source code before using this service, or if you prefer, you can deploy it on your own server. Hawkpost's repository can be found <a href="https://github.com/whitesmith/hawkpost">here</a>.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </section>
</div>

{% if not request.user.is_authenticated %}
<div class="section-definer-blue">
  <section class="h-section section-resized">
    <div class="row center-xs">
      <div class="col-xs-12 ">
        <h3 class="title text-lightest">{% trans "Ready to start?" %}</h3>
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-12">
        <button class="h-button-white smalltext md-trigger" data-modal="modal-signup">{% trans "Sign Up" %}</button>
      </div>
    </div>
  </section>
</div>
{% endif %}
{% endblock content %}
