/* COLOR VARIABLES */
$main-color: #15B5A8;
$main-color50: rgba(#15B5A8, 0.5);
$main-color-dark: #0D534D;
$black: #000016;
$grey: #424040;
$light: #E0E0E0;

/**/
$nav-size: 50px;
$footer-size: 60px;

//SPACING//
$spacing--x-small: 0.3125rem; //5px;
$spacing--small: 0.6250rem; //10px
$spacing--medium: 0.9375rem; //15px
$spacing--large: 1.250rem; //20px
$spacing--x-large: 1.5625rem; //25px
$spacing--xx-large: 1.875rem; //30px