{% extends "layout/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="row center-xs">
        <div class="col-xs-12 col-sm-9 col-md-8">
            <h2 class="text-dark">Create New Box</h2>
            <p> For others to be able to send you encrypted content through the web page, you will need to generate "boxes". Each box has an associated link that you can copy and share with any given person, it can only be used once. After the expiration date, the form is locked and the link can no longer be used.</p>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-xs-12 col-sm-9 col-md-8">
            <form action="{% url "boxes_create" %}" method="post" class="form__wrap">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn-default" value="Create"></input>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'javascripts/jquery.datetimepicker.min.js' %}"></script>
    <script src="{% static 'javascripts/box.js' %}"></script>
{% endblock scripts %}
