{% extends "layout/base.html" %}
{% load staticfiles %}
{% block content %}
    <h2>Create New Box</h2>
    <div>
        For other to be able to send you encrypted content through the web page, you will need to generate "boxes". Each box has an associated link that you can copy an share with any given person and can only be used once.
        After the expiration date, the form is locked and the link can no longer be used.
    </div>
    <div>
        <form action="{% url "boxes_create" %}" method="post" class="form__wrap">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn-default" value="Create"></input>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'javascripts/jquery.datetimepicker.min.js' %}"></script>
    <script src="{% static 'javascripts/box.js' %}"></script>
{% endblock scripts %}
