{% extends "layout/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row center-xs">
        <h2 class="text-dark">Manage Boxes</h2>
        <div class="col-xs-12">
            <ul class="box__nav">
                <li class="box__nav__item"><a href="{% url "boxes_list" %}?display=Open">Open</a></li>
                <li class="box__nav__item"><a href="{% url "boxes_list" %}?display=On Queue">On Queue</a></li>
                <li class="box__nav__item"><a href="{% url "boxes_list" %}?display=Sent">Sent</a></li>
                <li class="box__nav__item"><a href="{% url "boxes_list" %}?display=Expired">Expired</a></li>
                <li class="box__nav__item"><a href="{% url "boxes_list" %}?display=Closed">Closed</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        {% for box in object_list %}
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="box">
                    <h3 class="box__title">{{box.name}}</h3>
                    <p class="box__desc">{{box.description}}</p>
                    <input type="text" value="https://{{domain}}{% url "boxes_show" box.uuid %}"></input>
                    
                    <p class="box__info">
                        <span class="text-dark text-bold">Created on:</span>
                        <span>{{box.created_at}}</span>
                    </p>
                    <p class="box__info">
                        <span class="text-dark text-bold">Expires on:</span>
                        <span>{{box.expires_at}}</span>    
                    </p>
                    {% if box.status == allow_delete %}
                        <form action="{% url "boxes_delete" box.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn-dark" type="submit" value="Delete"></input>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
