{% extends "layout/base.html" %}
{% load staticfiles %}
{% block content %}
    <h2>Create New Box</h2>
    <div>
        <form action="{% url "boxes_create" %}" method="post" class="form__wrap">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn-default" value="Create"></input>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'javascripts/jquery.datetimepicker.min.js' %}"></script>
    <script src="{% static 'javascripts/box.js' %}"></script>
{% endblock scripts %}
