{% extends "layout/base.html" %}
{% load staticfiles %}

{% block header %}
{% include "layout/messages.html" %}
{% endblock header %}

{% block content %}
<div class=" section-definer-light">
  <section class=" section-resized">
    <div class=" row center-xs no-navbar">
      <a href="{% url "pages_index" %}">
        <img src="{% static 'images/logob.png' %}" class="logo-big">
      </a>
      <p class="subtitle no-margin col-xs-12 col-sm-10">Sending your confidential information safely</p>
    </div>
    <div class="row center-xs center-lg">
      <div class="col-xs-8 col-sm-6  order-xs-1st col-lg-5 ">
        <div class="text-left text-grey">
          <p class="subtitle margin-bottom-lg "> <i >The following people will receive the messages:</i></p>
          <p><span class="text-bold  text-darkest">Name: </span>{{object.owner.first_name}} {{object.owner.last_name}} </p>
          <p><span class="text-bold text-darkest">Organization: </span>{{object.owner.organization}}</p>
          <p><span class="text-bold text-darkest">Email: </span>{{object.owner.email}}</p>
          <p><span class="text-bold text-darkest">Key fingerprint: </span><span class="break-word"> {{object.owner.fingerprint}}</span></p>
        </div>
        <div class="hidden">
          The following people will receive the messages:
          {% for recipient in object.recipients.all %}
          <p> Name: {{recipient.first_name}} {{recipient.last_name}}</p>
          <p> Email: {{recipient.email}}</p>
          <p> Key fingerprint: {{recipient.fingerprint}}</p>
          <div class="hidden public-key-js">{{recipient.public_key}}</div>
          <div class="hidden server-signed-js">{{recipient.server_signed}}</div>
          {% endfor %}
        </div>

      </div>
      <div class="col-xs-8 col-sm-6 order-xs-2nd col-lg-5 form__block">
        <noscript>
          <p>Your browser has Javascript disabled. In order to be able to secure your content (end-to-end) this page needs JavaScript to be active. Please change this setting and refresh the page.</p>
          <p>This also may be caused by the use of certain browser extensions, in this case add an exception for this page to work.</p>
        </noscript>
        <div class=" text-darkest form-div-js" data-action="{% url 'boxes_show' object.uuid %}" data-csrf-token="{{ csrf_token }}">
          <div class="row">
            <div class="text-left  col-xs-8 col-sm-11 col-md-11  col-lg-7">
              <h3 class=" subtitle no-margin">{{object.name}}</h3>
              <p class="no-margin-top">{{object.description}}</p>
            </div>
            <div class="col-xs-10">
              <span class="smalltext text-darkest">
                Hawkpost is the easiest way to securely receive sensible information from people who don't know how to use PGP. They don't even need to install anything: you just share your link and the person who receives it just needs to submit the information. Our hawk will send it back to you.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'javascripts/openpgp.min.js' %}"></script>
<script src="{% static 'javascripts/box_submit.js' %}"></script>
{% endblock scripts %}
