{% extends "layout/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
{% include "layout/messages.html" %}
{% endblock header %}

{% block content %}
<div class=" section-definer-light">
  <section class=" section-resized">
    <div class=" row center-xs no-navbar">
      <a href="{% url "pages_index" %}">
        <img src="{% static 'images/logob.png' %}" class="logo-big">
      </a>
      <p class="title no-margin col-xs-12 col-sm-10">{% trans "Sending your confidential information safely" %}</p>
      <div class="col-xs-11 col-sm-9 col-md-8 col-lg-7 center-xs hawkpost__block" tabindex="1">
        <p class="smalltext text-blue no-margin mb-small">{% trans "What is Hawkpost?" %}</p>
        <p class="text-darkest smalltext hawkpost-text">
          {% trans "Hawkpost is the easiest way to securely receive sensible information from people who don't know how to use PGP. They don't even need to install anything: you just share your link and the person who receives it just needs to submit the information. Our hawk will send it back to you." %}
        </p>
      </div>
    </div>
    <div class="row center-xs center-lg">
      <div class="col-xs-11 col-sm-9 col-md-8 col-lg-7">
        <div class="text-left text-grey">
          <p class="subtitle margin-bottom-lg ">{% trans "Compose new message" %}</p>
          <p class="text text-darkest"><span class="smallmedium text-darkest">{% trans "To:" %} </span><span class="name-frame">{{object.owner.first_name}} {{object.owner.last_name}} </span> <span>(</span>{{object.owner.email}}<span>)</span></p>
          <p class="text text-darkest"><span class="smallmedium text-darkest">{% trans "Organization:" %} </span>{{object.owner.organization}}</p>
          <p class="text text-darkest"><span class="smallmedium text-darkest">{% trans "Key fingerprint:" %} </span><span class="break-word"> {{object.owner.fingerprint}}</span></p>
        </div>
        <div class="hidden">
          {% trans "The following people will receive the messages:" %}
          {% for recipient in object.recipients.all %}
          <p>{% trans "Name:" %} {{recipient.first_name}} {{recipient.last_name}}</p>
          <p>{% trans "Email:" %} {{recipient.email}}</p>
          <p>{% trans "Key fingerprint:" %} {{recipient.fingerprint}}</p>
          <div class="hidden public-key-js">{{recipient.public_key}}</div>
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-11 col-sm-9 col-md-8 col-lg-7 mt-small">
        <hr class="no-margin">
      </div>
      <div class="col-xs-11 col-sm-9 col-md-8 col-lg-7 form__block">
        <noscript>
          <p>{% trans "Your browser has Javascript disabled. In order to be able to secure your content (end-to-end) this page needs JavaScript to be active. Please change this setting and refresh the page." %}</p>
          <p>{% trans "This also may be caused by the use of certain browser extensions, in this case add an exception for this page to work." %}</p>
        </noscript>
        <div class=" text-darkest form-div-js" data-action="{% url 'boxes_show' object.uuid %}" data-csrf-token="{{ csrf_token }}">
          <div class="row">
            <div class="text-left  col-xs-8 col-sm-11 col-md-11  col-lg-7">
              <p class="textbold text-darkest no-margin">{{object.name}}</p>
              <p class="xmt-small smalltext no-margin-bottom">{{object.description|linebreaks}}</p>
            </div>
          </div>
          {% if request.user.is_authenticated %}
          <input type="hidden" id="authenticated_user">
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'javascripts/openpgp.min.js' %}"></script>
<script src="{% static 'javascripts/box_submit.js' %}"></script>
{% endblock scripts %}
