{% extends "layout/base.html" %}


{% block content %}
    <div>
        <form action="{% url "boxes_create" %}" method="post" class="form__wrap">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn-default" value="Create"></input>
        </form>
    </div>


    <div class="row box-list">
        {% for box in object_list %}
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <h3>{{box.name}}</h3>
                    <input type="text" value="https://{{domain}}{% url "boxes_show" box.uuid %}"></input>
                    <p>{{box.description}}</p>
                    <p>Created: {{box.created_at}}</p>
                    <p>Last Activity: {{box.updated_at}}</p>
                    <p>Expiraton Date: {{box.expires_at}}</p>
                    <form action="{% url "boxes_delete" box.id %}" method="post">
                        {% csrf_token %}
                        <input class="btn-dark" type="submit" value="Delete"></input>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
