{% extends "layout/base.html" %}


{% block content %}
    <h2>Create New Box</h2>
    <div>
        <form action="{% url "boxes_create" %}" method="post" class="form__wrap">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn-default" value="Create"></input>
        </form>
    </div>

    <div class="box-list">
        <h2>Manage Boxes</h2>
        <div class="row">
            {% for box in object_list %}
                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <h3>{{box.name}}</h3>
                        <input type="text" value="https://{{domain}}{% url "boxes_show" box.uuid %}"></input>
                        <p class="box__desc">{{box.description}}</p>
                        <p class="box__info"><span>Created:</span><br>{{box.created_at}}</p>
                        <p class="box__info"><span>Last Activity:</span><br>{{box.updated_at}}</p>
                        <p class="box__info"><span>Expiraton Date:</span><br>{{box.expires_at}}</p>
                        <form action="{% url "boxes_delete" box.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn-dark" type="submit" value="Delete"></input>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
