{% extends "layout/base.html" %}
{% load i18n %}

{% block content %}
<div class="section-definer-light">
  <div class= "section-resized-extra">
    <div class="container-fluid">
      <div class="row center-xs">
        <div class="col-xs-10 col-sm-8 col-lg-7">
          <h3 class="title top text-darkest">{% trans "THIS LINK IS NO LONGER ACTIVE" %}</h3>
          <h4 class="text-darkest text sub">{% trans "That could be because:" %}</h4>
          <ul class="close-box">
            <li class="mt-small"><span class="subtitle">- </span>{% trans "The link expired" %}</li>
            <li class="mt-small"><span class="subtitle">- </span>{% trans "The recipient closed or deactivated the link." %}</li>
            <li class="mt-small"><span class="subtitle">- </span>{% trans "It was already submitted." %}</li>
            <li class="mt-small"><span class="subtitle">- </span>{% trans "The recipient did not suply a valid public key in order to correctly encrypt the content." %}</li>
            <br>
          </ul>
          <p class="text-note">
            {% blocktrans with name=box.owner.get_full_name|default:box.owner.email email=box.owner.email %}In any of the above cases, you should contact the recipient (<a href="mailto:{{email}}" class="text-blue">{{name}}</a>) in order to fix the issue.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
