{% extends "layout/base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row center-xs">
       <div class="col-xs-10 col-sm-8 col-lg-7">
		    <h3 class="subtitle top">This link is no longer active.</h3>
		    <h4 class="text-dark sub">The reason could be due to one of the following possibilities:</h4>

		    <ul class="close-box">
		    	<!-- <i class="fa fa-exclamation-triangle fa-lg text-dark" aria-hidden="true"></i>-->
		        <li>The link expired</li>
		        <br>
		        <!--<i class="fa fa-exclamation-triangle fa-lg text-dark" aria-hidden="true"></i> -->
		        <li>The recipient closed or deactivated the link.</li>
		         <br>
		       <!-- <i class="fa fa-exclamation-triangle fa-lg text-dark" aria-hidden="true"></i>-->
		        <li>It was already submitted.</li>
		         <br>
		        <!--<i class="fa fa-exclamation-triangle fa-lg text-dark" aria-hidden="true"></i>-->
		        <li>The recipient did not suply a valid public key, in order to correctly encrypt the content.</li>
		         <br>
		    </ul>

		    <p class="text-note">In any of the above cases, you should contact the recipient (<a href="mailto:{{box.owner.email}}">{{box.owner.first_name}} {{box.owner.last_name}}</a>) in order to fix the issue.</p>
    	</div> 
   </div> 
</div>
{% endblock content %}
