{% extends "layout/base.html" %}

{% block content %}
    This link is no longer active. The reason could be due to one of the following possibilities:

    <ul>
        <li>The link reached its expiration date.</li>
        <li>The owner closed or deactivated the link.</li>
        <li>It was already submitted.</li>
        <li>The owner did not suply a valid public key, in order to correctly encrypt the content.</li>
    </ul>

    In any of the above cases, you should contact the owner ({{box.owner.first_name}} {{box.owner.last_name}} - {{box.owner.email}}) in order to fix the issue.
{% endblock content %}
