{% extends "layout/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
{% include "layout/messages.html" %}
{% endblock header %}

{% block content %}
<div class="section-definer-light">
  <div class="h-section section-resized">
    <div class="container-fluid">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h1 class="title">{% trans "MESSAGE SENT WITH SUCCESS!" %}</h1>
        </div>
      </div>
      <div class="row center-xs middle-xs logosucess">
        <div class="col-xs-12">
          <p class="text-by">{% trans "by:" %}</p>
          <a href="{% url "pages_index" %}">
            <img src="{% static 'images/logob.png' %}" class="logo-big">
          </a>
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-xs-12">
          <p class="main-title__sub text-note">{% trans "Sending your confidential information safely" %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
