/* COLOR VARIABLES */
/**/
/*
 * BASE STYLES
 * ================================ */
/* line 6, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
*,
*:before,
*:after {
  box-sizing: border-box; }

/* line 12, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px; }

/* line 18, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
html {
  font-size: 16px; }

/* line 22, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
body {
  min-height: 100%;
  height: auto;
  font: normal normal 400 1rem/1.3 "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 31, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
h1 {
  font-size: 1.5rem;
  margin: 0px; }

/* line 36, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
ul, ol {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

/* line 42, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }
  /* line 46, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
  a:hover {
    text-decoration: none;
    opacity: 0.7; }

/* Temporary Remove at will */
/* line 53, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
.hidden {
  display: none; }

/* line 58, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
.main {
  padding-top: 70px;
  text-align: center;
  padding-bottom: 100px; }

/* line 64, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
.main-title {
  font-size: 32px;
  color: #15B5A8; }

/* line 69, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
.main-title__sub {
  color: #0D534D;
  font-size: 15px;
  margin: 0px;
  font-weight: 600; }

/* line 76, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
.logo-big {
  padding: 20px 0px 0px; }

/* line 80, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
.main-desc {
  padding-top: 20px;
  font-size: 14px; }

/* line 85, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
.how {
  padding: 30px 0px;
  width: 750px;
  max-width: 100%;
  margin: auto; }

/* line 92, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
.how__box {
  border: 1px solid #E0E0E0;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 22, 0.2);
  padding: 20px;
  margin: 10px;
  height: 150px; }

/* line 100, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
.how__num {
  color: #15B5A8;
  font-weight: 600;
  font-size: 18px;
  margin: 0px;
  padding: 0px 0px 5px; }

/* line 108, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
.how__text {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #0D534D; }

/* line 115, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
.full-height {
  height: 100%; }

/* line 119, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_base.scss */
.full-width {
  width: 100%; }

/* line 1, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_navigation.scss */
.navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #15B5A8;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 22, 0.2);
  color: #FFFFFF;
  padding: 0px 0.9375rem; }

/* line 14, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_navigation.scss */
.navbar__link {
  display: inline;
  padding: 0.3125rem;
  font-weight: 500; }

/* line 20, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_navigation.scss */
.logo {
  height: 25px;
  margin-left: 0.625rem; }

/* line 1, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
.form__wrap {
  width: 350px;
  max-width: 100%;
  margin: auto;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 22, 0.2);
  padding: 0.625rem 0.9375rem; }

/* line 11, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
label {
  display: block;
  padding: 10px 0px 5px;
  font-size: 0.8125rem; }

/* line 17, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
input {
  width: 100%;
  border: 1px solid #E0E0E0;
  padding: 10px; }
  /* line 21, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
  input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3); }

/* line 28, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
.box-list {
  width: 950px;
  margin: auto;
  max-width: 100%;
  margin-top: 30px;
  padding: 20px 10px; }

/* line 36, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
.box {
  border: 1px solid #E0E0E0;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 22, 0.2);
  margin: 5px;
  padding: 10px; }

/* line 43, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
.box__desc {
  font-size: 15px;
  color: #15B5A8; }

/* line 48, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
.box__info {
  font-size: 13px;
  color: #424040; }
  /* line 51, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
  .box__info span {
    color: #0D534D;
    font-weight: 600; }

/* line 59, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
.btn-default, .btn-dark {
  border: none;
  padding: 0.625rem;
  background: #15B5A8;
  color: white;
  width: 100%;
  transition: all 0.2s ease-in-out;
  font-size: 0.9375rem;
  cursor: pointer; }
  /* line 68, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
  .btn-default:hover, .btn-dark:hover {
    background: #0D534D; }

/* line 73, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
.btn-dark {
  background: #0D534D; }
  /* line 76, /Users/bbeato/Desktop/postbox-repo/postbox/static/stylesheets/sass/_forms.scss */
  .btn-dark:hover {
    background: #000016; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIiwiX2dsb2JhbC5zY3NzIiwiX2Jhc2Uuc2NzcyIsIl9uYXZpZ2F0aW9uLnNjc3MiLCJfZm9ybXMuc2NzcyJdLCJtYXBwaW5ncyI6IkFDQUEscUJBQXFCO0FBUXJCLElBQUk7QUNSSjs7c0NBRXNDOztBQUd0QyxDQUFDO0FBQ0QsQ0FBQyxBQUFBLE9BQU87QUFDUixDQUFDLEFBQUEsTUFBTSxDQUFBO0VBQ0wsVUFBVSxFQUFFLFVBQVcsR0FDeEI7OztBQUVELElBQUksRUFBQyxJQUFJLENBQUE7RUFDUCxLQUFLLEVBQUMsSUFBSztFQUNYLE1BQU0sRUFBRSxJQUFLO0VBQ2IsTUFBTSxFQUFFLEdBQUksR0FDYjs7O0FBRUQsSUFBSSxDQUFDO0VBQ0gsU0FBUyxFQUFFLElBQUssR0FDakI7OztBQUVELElBQUksQ0FBQTtFQUNGLFVBQVUsRUFBRSxJQUFLO0VBQ2pCLE1BQU0sRUFBRSxJQUFLO0VBRWIsSUFBSSxFQUFFLGtGQUFtRjtFQUN6RixzQkFBc0IsRUFBRSxXQUFZO0VBQ3BDLHVCQUF1QixFQUFFLFNBQVUsR0FDcEM7OztBQUVELEVBQUUsQ0FBQTtFQUNELFNBQVMsRUFBRSxNQUFPO0VBQ2xCLE1BQU0sRUFBRSxHQUFJLEdBQ1o7OztBQUVELEVBQUUsRUFBRSxFQUFFLENBQUE7RUFDSixlQUFlLEVBQUUsSUFBSztFQUN0QixNQUFNLEVBQUUsR0FBSTtFQUNaLE9BQU8sRUFBRSxHQUFJLEdBQ2Q7OztBQUVELENBQUMsQ0FBQTtFQUNDLEtBQUssRUFBRSxPQUFRO0VBQ2YsZUFBZSxFQUFFLElBQUs7RUFDdEIsVUFBVSxFQUFFLG9CQUFxQixHQUtsQzs7RUFSRCxDQUFDLEFBSUUsTUFBTSxDQUFBO0lBQ0wsZUFBZSxFQUFFLElBQUs7SUFDdEIsT0FBTyxFQUFFLEdBQUksR0FDZDs7QUFHSCw4QkFBOEI7O0FBQzlCLE9BQU8sQ0FBQztFQUNKLE9BQU8sRUFBQyxJQUFLLEdBQ2hCOzs7QUFHRCxLQUFLLENBQUE7RUFDSixXQUFXLEVBQUUsSUFBUztFQUN0QixVQUFVLEVBQUUsTUFBTztFQUNuQixjQUFjLEVBQUUsS0FBTSxHQUN0Qjs7O0FBRUQsV0FBVyxDQUFBO0VBQ1QsU0FBUyxFQUFFLElBQUs7RUFDaEIsS0FBSyxFRGhFTSxPQUFPLEdDaUVuQjs7O0FBRUQsZ0JBQWdCLENBQUE7RUFDZCxLQUFLLEVEbEVXLE9BQU87RUNtRXZCLFNBQVMsRUFBRSxJQUFLO0VBQ2hCLE1BQU0sRUFBRSxHQUFJO0VBQ1osV0FBVyxFQUFFLEdBQUksR0FDbEI7OztBQUVELFNBQVMsQ0FBQTtFQUNQLE9BQU8sRUFBRSxZQUFhLEdBQ3ZCOzs7QUFFRCxVQUFVLENBQUE7RUFDUixXQUFXLEVBQUMsSUFBSztFQUNqQixTQUFTLEVBQUUsSUFBSyxHQUNqQjs7O0FBRUQsSUFBSSxDQUFBO0VBQ0gsT0FBTyxFQUFFLFFBQVM7RUFDakIsS0FBSyxFQUFFLEtBQU07RUFDYixTQUFTLEVBQUUsSUFBSztFQUNoQixNQUFNLEVBQUUsSUFBSyxHQUNkOzs7QUFFRCxTQUFTLENBQUE7RUFDUCxNQUFNLEVBQUUsR0FBRyxDQUFDLEtBQUssQ0R0RlgsT0FBTztFQ3VGYixVQUFVLEVBQUUsR0FBRyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENBQUMsR0FBRyxDRHpGckIsbUJBQU87RUMwRmIsT0FBTyxFQUFFLElBQUs7RUFDZCxNQUFNLEVBQUUsSUFBSztFQUNiLE1BQU0sRUFBRSxLQUFNLEdBQ2Y7OztBQUVELFNBQVMsQ0FBQTtFQUNQLEtBQUssRURuR00sT0FBTztFQ29HbEIsV0FBVyxFQUFFLEdBQUk7RUFDakIsU0FBUyxFQUFFLElBQUs7RUFDaEIsTUFBTSxFQUFFLEdBQUk7RUFDWixPQUFPLEVBQUMsV0FBWSxHQUNyQjs7O0FBRUQsVUFBVSxDQUFBO0VBQ1QsTUFBTSxFQUFFLEdBQUk7RUFDWixPQUFPLEVBQUUsR0FBSTtFQUNiLFNBQVMsRUFBRSxJQUFLO0VBQ2hCLEtBQUssRUQ1R1ksT0FBTyxHQzZHeEI7OztBQUVELFlBQVksQ0FBQTtFQUNWLE1BQU0sRUFBRSxJQUFLLEdBQ2Q7OztBQUVELFdBQVcsQ0FBQTtFQUNULEtBQUssRUFBRSxJQUFLLEdBQ2I7OztBQ3hIRCxPQUFPLENBQUE7RUFDTixRQUFRLEVBQUUsS0FBTTtFQUNiLEtBQUssRUFBRSxJQUFLO0VBQ1osTUFBTSxFRk1DLElBQUk7RUVMZCxVQUFVLEVGSEUsT0FBTztFRUluQixVQUFVLEVBQUUsR0FBRyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENBQUMsR0FBRyxDRkRwQixtQkFBTztFRUVkLEtBQUssRUFBRSxPQUFRO0VBQ2YsT0FBTyxFQUFFLEdBQUcsQ0ZPSyxTQUFTLEdFTjFCOzs7QUFLRCxhQUFhLENBQUE7RUFDWixPQUFPLEVBQUUsTUFBTztFQUNoQixPQUFPLEVGSFcsU0FBUztFRUkzQixXQUFXLEVBQUUsR0FBSSxHQUNqQjs7O0FBRUQsS0FBSyxDQUFBO0VBQ0osTUFBTSxFQUFFLElBQUs7RUFDYixXQUFXLEVGUkssUUFBUyxHRVN6Qjs7O0FDdEJELFdBQVcsQ0FBQTtFQUNWLEtBQUssRUFBRSxLQUFNO0VBQ2IsU0FBUyxFQUFFLElBQUs7RUFDYixNQUFNLEVBQUUsSUFBSztFQUNiLE1BQU0sRUFBRSxHQUFHLENBQUMsS0FBSyxDSEViLE9BQU87RUdEWCxVQUFVLEVBQUUsR0FBRyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENBQUMsR0FBRyxDSER2QixtQkFBTztFR0VYLE9BQU8sRUhPTSxRQUFTLENBQ1IsU0FBUyxHR1AxQjs7O0FBR0QsS0FBSyxDQUFBO0VBQ0osT0FBTyxFQUFFLEtBQU07RUFDZixPQUFPLEVBQUUsWUFBYTtFQUN0QixTQUFTLEVBQUcsU0FBVSxHQUN0Qjs7O0FBRUQsS0FBSyxDQUFBO0VBQ0osS0FBSyxFQUFFLElBQUs7RUFDWixNQUFNLEVBQUUsR0FBRyxDQUFDLEtBQUssQ0haVixPQUFPO0VHYWQsT0FBTyxFQUFFLElBQUssR0FNZDs7RUFURCxLQUFLLEFBSUgsTUFBTSxDQUFBO0lBQ04sT0FBTyxFQUFFLElBQUs7SUFDZCxNQUFNLEVBQUUsR0FBRyxDQUFDLEtBQUssQ0FBQyxrQkFBSTtJQUN0QixVQUFVLEVBQUUsS0FBSyxDQUFDLENBQUMsQ0FBQyxHQUFHLENBQUMsR0FBRyxDQUFDLGtCQUFJLEdBQ2hDOzs7QUFHRixTQUFTLENBQUE7RUFDUCxLQUFLLEVBQUUsS0FBTTtFQUNiLE1BQU0sRUFBRSxJQUFLO0VBQ2IsU0FBUyxFQUFFLElBQUs7RUFDaEIsVUFBVSxFQUFFLElBQUs7RUFDakIsT0FBTyxFQUFFLFNBQVUsR0FDcEI7OztBQUVELElBQUksQ0FBQTtFQUNILE1BQU0sRUFBRSxHQUFHLENBQUMsS0FBSyxDSDlCVixPQUFPO0VHK0JYLFVBQVUsRUFBRSxHQUFHLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENIakN2QixtQkFBTztFR2tDWCxNQUFNLEVBQUMsR0FBSTtFQUNYLE9BQU8sRUFBRSxJQUFLLEdBQ2pCOzs7QUFFRCxVQUFVLENBQUE7RUFDVCxTQUFTLEVBQUUsSUFBSztFQUNoQixLQUFLLEVIM0NPLE9BQU8sR0c0Q25COzs7QUFFRCxVQUFVLENBQUE7RUFDVCxTQUFTLEVBQUUsSUFBSztFQUNoQixLQUFLLEVINUNDLE9BQU8sR0drRGI7O0VBUkQsVUFBVSxDQUdULElBQUksQ0FBQTtJQUNILEtBQUssRUhoRFcsT0FBTztJR2lEdkIsV0FBVyxFQUFFLEdBQUksR0FDakI7OztBQUtGLFlBQVksRUFjWixTQUFTLENBZEc7RUFDWCxNQUFNLEVBQUUsSUFBSztFQUNWLE9BQU8sRUgvQ00sUUFBUztFR2dEdEIsVUFBVSxFSDVERCxPQUFPO0VHNkRoQixLQUFLLEVBQUUsS0FBTTtFQUNiLEtBQUssRUFBRSxJQUFLO0VBQ1osVUFBVSxFQUFFLG9CQUFxQjtFQUNqQyxTQUFTLEVBQUUsU0FBVTtFQUNyQixNQUFNLEVBQUUsT0FBUSxHQUluQjs7RUFaRCxZQUFZLEFBU1AsTUFBTSxFQUtYLFNBQVMsQUFMSixNQUFNLENBQUE7SUFDTixVQUFVLEVIakVHLE9BQU8sR0drRXBCOzs7QUFHTCxTQUFTLENBQUE7RUFFUixVQUFVLEVIdkVPLE9BQU8sR0cyRXhCOztFQU5ELFNBQVMsQUFHUCxNQUFNLENBQUE7SUFDSCxVQUFVLEVIeEVQLE9BQU8sR0d5RVYiLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIuIn0= */

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9nbG9iYWwuc2NzcyIsIl9iYXNlLnNjc3MiLCJzdHlsZS5jc3MiLCJfbmF2aWdhdGlvbi5zY3NzIiwiX2Zvcm1zLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEscUJBQXFCO0FBUXJCLElBQUk7QUNSSjs7c0NBRXNDO0FDR3RDLDJGQUEyRjtBREEzRjs7O0VBR0UsdUJBQXVCLEVBQ3hCOztBQ0VELDRGQUE0RjtBREE1RjtFQUNFLFlBQVc7RUFDWCxhQUFhO0VBQ2IsWUFBWSxFQUNiOztBQ0VELDRGQUE0RjtBREE1RjtFQUNFLGdCQUFnQixFQUNqQjs7QUNFRCw0RkFBNEY7QURBNUY7RUFDRSxpQkFBaUI7RUFDakIsYUFBYTtFQUViLHlGQUF5RjtFQUN6RixvQ0FBb0M7RUFDcEMsbUNBQW1DLEVBQ3BDOztBQ0NELDRGQUE0RjtBREM1RjtFQUNDLGtCQUFrQjtFQUNsQixZQUFZLEVBQ1o7O0FDQ0QsNEZBQTRGO0FEQzVGO0VBQ0Usc0JBQXNCO0VBQ3RCLFlBQVk7RUFDWixhQUFhLEVBQ2Q7O0FDQ0QsNEZBQTRGO0FEQzVGO0VBQ0UsZUFBZTtFQUNmLHNCQUFzQjtFQUN0QixpQ0FBaUMsRUFLbEM7RUNKQyw0RkFBNEY7RURKOUY7SUFLSSxzQkFBc0I7SUFDdEIsYUFBYSxFQUNkOztBQUdILDhCQUE4QjtBQ0E5Qiw0RkFBNEY7QURDNUY7RUFDSSxjQUFhLEVBQ2hCOztBQ0NELDRGQUE0RjtBREU1RjtFQUNDLGtCQUFzQjtFQUN0QixtQkFBbUI7RUFDbkIsc0JBQXNCLEVBQ3RCOztBQ0FELDRGQUE0RjtBREU1RjtFQUNFLGdCQUFnQjtFQUNoQixlRGhFa0IsRUNpRW5COztBQ0FELDRGQUE0RjtBREU1RjtFQUNFLGVEbEV1QjtFQ21FdkIsZ0JBQWdCO0VBQ2hCLFlBQVk7RUFDWixpQkFBaUIsRUFDbEI7O0FDQUQsNEZBQTRGO0FERTVGO0VBQ0Usc0JBQXNCLEVBQ3ZCOztBQ0FELDRGQUE0RjtBREU1RjtFQUNFLGtCQUFpQjtFQUNqQixnQkFBZ0IsRUFDakI7O0FDQUQsNEZBQTRGO0FERTVGO0VBQ0Msa0JBQWtCO0VBQ2pCLGFBQWE7RUFDYixnQkFBZ0I7RUFDaEIsYUFBYSxFQUNkOztBQ0FELDRGQUE0RjtBREU1RjtFQUNFLDBCRHRGYTtFQ3VGYixnRER6RmE7RUMwRmIsY0FBYztFQUNkLGFBQWE7RUFDYixjQUFjLEVBQ2Y7O0FDQUQsNkZBQTZGO0FERTdGO0VBQ0UsZURuR2tCO0VDb0dsQixpQkFBaUI7RUFDakIsZ0JBQWdCO0VBQ2hCLFlBQVk7RUFDWixxQkFBb0IsRUFDckI7O0FDQUQsNkZBQTZGO0FERTdGO0VBQ0MsWUFBWTtFQUNaLGFBQWE7RUFDYixnQkFBZ0I7RUFDaEIsZUQ1R3dCLEVDNkd4Qjs7QUNBRCw2RkFBNkY7QURFN0Y7RUFDRSxhQUFhLEVBQ2Q7O0FDQUQsNkZBQTZGO0FERTdGO0VBQ0UsWUFBWSxFQUNiOztBQ0FELGlHQUFpRztBQ3hIakc7RUFDQyxnQkFBZ0I7RUFDYixZQUFZO0VBQ1osYUhNVztFR0xkLG9CSEhtQjtFR0luQixnREhEYztFR0VkLGVBQWU7RUFDZix1QkhPMEIsRUdOMUI7O0FEMEhELGtHQUFrRztBQ3JIbEc7RUFDQyxnQkFBZ0I7RUFDaEIsbUJISDJCO0VHSTNCLGlCQUFpQixFQUNqQjs7QUR1SEQsa0dBQWtHO0FDckhsRztFQUNDLGFBQWE7RUFDYixzQkhSeUIsRUdTekI7O0FEdUhELDRGQUE0RjtBRTdJNUY7RUFDQyxhQUFhO0VBQ2IsZ0JBQWdCO0VBQ2IsYUFBYTtFQUNiLDBCSkVXO0VJRFgsZ0RKRFc7RUlFWCw0QkpRdUIsRUlQMUI7O0FGK0lELDZGQUE2RjtBRTVJN0Y7RUFDQyxlQUFlO0VBQ2Ysc0JBQXNCO0VBQ3RCLHFCQUFzQixFQUN0Qjs7QUY4SUQsNkZBQTZGO0FFNUk3RjtFQUNDLFlBQVk7RUFDWiwwQkpaYztFSWFkLGNBQWMsRUFNZDtFRndJQyw2RkFBNkY7RUVqSi9GO0lBS0UsY0FBYztJQUNkLHFDQUFzQjtJQUN0QiwrQ0FBZ0MsRUFDaEM7O0FGK0lGLDZGQUE2RjtBRTVJN0Y7RUFDRSxhQUFhO0VBQ2IsYUFBYTtFQUNiLGdCQUFnQjtFQUNoQixpQkFBaUI7RUFDakIsbUJBQW1CLEVBQ3BCOztBRjhJRCw2RkFBNkY7QUU1STdGO0VBQ0MsMEJKOUJjO0VJK0JYLGdESmpDVztFSWtDWCxZQUFXO0VBQ1gsY0FBYyxFQUNqQjs7QUY4SUQsNkZBQTZGO0FFNUk3RjtFQUNDLGdCQUFnQjtFQUNoQixlSjNDbUIsRUk0Q25COztBRjhJRCw2RkFBNkY7QUU1STdGO0VBQ0MsZ0JBQWdCO0VBQ2hCLGVKNUNhLEVJa0RiO0VGd0lDLDZGQUE2RjtFRWhKL0Y7SUFJRSxlSmhEdUI7SUlpRHZCLGlCQUFpQixFQUNqQjs7QUYrSUYsNkZBQTZGO0FFMUk3RjtFQUNDLGFBQWE7RUFDVixrQkovQ3NCO0VJZ0R0QixvQko1RGdCO0VJNkRoQixhQUFhO0VBQ2IsWUFBWTtFQUNaLGlDQUFpQztFQUNqQyxxQkFBcUI7RUFDckIsZ0JBQWdCLEVBSW5CO0VGd0lDLDZGQUE2RjtFRXBKL0Y7SUFVSyxvQkpqRW9CLEVJa0VwQjs7QUY2SUwsNkZBQTZGO0FFMUk3RjtFQUVDLG9CSnZFd0IsRUkyRXhCO0VGdUlDLDZGQUE2RjtFRTdJL0Y7SUFJSyxvQkp4RVUsRUl5RVY7O0FGNElMLDYySkFBNjJKIiwiZmlsZSI6InN0eWxlLmNzcyIsInNvdXJjZVJvb3QiOiIvc291cmNlLyIsInNvdXJjZXNDb250ZW50IjpbIi8qIENPTE9SIFZBUklBQkxFUyAqL1xuJG1haW4tY29sb3I6ICMxNUI1QTg7XG4kbWFpbi1jb2xvcjUwOiByZ2JhKCMxNUI1QTgsIDAuNSk7XG4kbWFpbi1jb2xvci1kYXJrOiAjMEQ1MzREO1xuJGJsYWNrOiAjMDAwMDE2O1xuJGdyZXk6ICM0MjQwNDA7XG4kbGlnaHQ6ICNFMEUwRTA7XG5cbi8qKi9cbiRuYXYtc2l6ZTogNTBweDtcblxuLy9TUEFDSU5HLy9cbiRzcGFjaW5nLS14LXNtYWxsOiAwLjMxMjVyZW07IC8vNXB4O1xuJHNwYWNpbmctLXNtYWxsOiAwLjYyNTByZW07IC8vMTBweFxuJHNwYWNpbmctLW1lZGl1bTogMC45Mzc1cmVtOyAvLzE1cHhcbiRzcGFjaW5nLS1sYXJnZTogMS4yNTByZW07IC8vMjBweFxuJHNwYWNpbmctLXgtbGFyZ2U6IDEuNTYyNXJlbTsgLy8yNXB4XG4kc3BhY2luZy0teHgtbGFyZ2U6IDEuODc1cmVtOyAvLzMwcHgiLCIvKlxuICogQkFTRSBTVFlMRVNcbiAqID09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09ICovXG5cbi8vYm94LXNpemluZyBtb2RlbCA9IG1hcmdpbiBhbmQgcGFkZGdpbiBpbnNpZGUgZWxlbWVudCBzbyB0aGV5IGRvbid0IGluY3JlYXNlIHdpZHRoIG9mIGNvbXBvbmVudC5cbiosIFxuKjpiZWZvcmUsIFxuKjphZnRlcntcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbn1cblxuaHRtbCxib2R5e1xuICB3aWR0aDoxMDAlO1xuICBoZWlnaHQ6IDEwMCU7XG4gIG1hcmdpbjogMHB4O1xufVxuXG5odG1sIHtcbiAgZm9udC1zaXplOiAxNnB4O1xufVxuXG5ib2R5e1xuICBtaW4taGVpZ2h0OiAxMDAlO1xuICBoZWlnaHQ6IGF1dG87XG5cbiAgZm9udDogbm9ybWFsIG5vcm1hbCA0MDAgMXJlbS8xLjMgXCJwcm94aW1hLW5vdmFcIiwgXCJIZWx2ZXRpY2EgTmV1ZVwiLCBIZWx2ZXRpY2EsIHNhbnMtc2VyaWY7XG4gIC13ZWJraXQtZm9udC1zbW9vdGhpbmc6IGFudGlhbGlhc2VkO1xuICAtbW96LW9zeC1mb250LXNtb290aGluZzogZ3JheXNjYWxlO1xufVxuXG5oMXtcbiBmb250LXNpemU6IDEuNXJlbTtcbiBtYXJnaW46IDBweDtcbn1cblxudWwsIG9se1xuICBsaXN0LXN0eWxlLXR5cGU6IG5vbmU7XG4gIG1hcmdpbjogMHB4O1xuICBwYWRkaW5nOiAwcHg7XG59XG5cbmF7XG4gIGNvbG9yOiBpbmhlcml0O1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gIHRyYW5zaXRpb246IGFsbCAwLjJzIGVhc2UtaW4tb3V0O1xuICAmOmhvdmVye1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgICBvcGFjaXR5OiAwLjc7XG4gIH1cbn1cblxuLyogVGVtcG9yYXJ5IFJlbW92ZSBhdCB3aWxsICovXG4uaGlkZGVuIHtcbiAgICBkaXNwbGF5Om5vbmU7XG59XG5cblxuLm1haW57XG4gcGFkZGluZy10b3A6ICRuYXYtc2l6ZSsyMHB4O1xuIHRleHQtYWxpZ246IGNlbnRlcjtcbiBwYWRkaW5nLWJvdHRvbTogMTAwcHg7XG59XG5cbi5tYWluLXRpdGxle1xuICBmb250LXNpemU6IDMycHg7XG4gIGNvbG9yOiAkbWFpbi1jb2xvcjtcbn1cblxuLm1haW4tdGl0bGVfX3N1YntcbiAgY29sb3I6ICRtYWluLWNvbG9yLWRhcms7XG4gIGZvbnQtc2l6ZTogMTVweDtcbiAgbWFyZ2luOiAwcHg7XG4gIGZvbnQtd2VpZ2h0OiA2MDA7XG59XG5cbi5sb2dvLWJpZ3tcbiAgcGFkZGluZzogMjBweCAwcHggMHB4O1xufVxuXG4ubWFpbi1kZXNje1xuICBwYWRkaW5nLXRvcDoyMHB4O1xuICBmb250LXNpemU6IDE0cHg7XG59XG5cbi5ob3d7XG4gcGFkZGluZzogMzBweCAwcHg7XG4gIHdpZHRoOiA3NTBweDtcbiAgbWF4LXdpZHRoOiAxMDAlO1xuICBtYXJnaW46IGF1dG87XG59XG5cbi5ob3dfX2JveHtcbiAgYm9yZGVyOiAxcHggc29saWQgJGxpZ2h0O1xuICBib3gtc2hhZG93OiAwcHggMnB4IDZweCAwcHggcmdiYSgkYmxhY2ssMC4yKTtcbiAgcGFkZGluZzogMjBweDtcbiAgbWFyZ2luOiAxMHB4O1xuICBoZWlnaHQ6IDE1MHB4O1xufVxuXG4uaG93X19udW17XG4gIGNvbG9yOiRtYWluLWNvbG9yO1xuICBmb250LXdlaWdodDogNjAwO1xuICBmb250LXNpemU6IDE4cHg7XG4gIG1hcmdpbjogMHB4O1xuICBwYWRkaW5nOjBweCAwcHggNXB4O1xufVxuXG4uaG93X190ZXh0e1xuIG1hcmdpbjogMHB4O1xuIHBhZGRpbmc6IDBweDtcbiBmb250LXNpemU6IDE0cHg7XG4gY29sb3I6JG1haW4tY29sb3ItZGFyaztcbn1cblxuLmZ1bGwtaGVpZ2h0e1xuICBoZWlnaHQ6IDEwMCU7XG59XG5cbi5mdWxsLXdpZHRoe1xuICB3aWR0aDogMTAwJTtcbn0iLG51bGwsIi5uYXZiYXJ7XG5cdHBvc2l0aW9uOiBmaXhlZDtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBoZWlnaHQ6ICRuYXYtc2l6ZTtcblx0YmFja2dyb3VuZDogJG1haW4tY29sb3I7XG5cdGJveC1zaGFkb3c6IDBweCAycHggNnB4IDBweCByZ2JhKCRibGFjaywwLjIpO1xuXHRjb2xvcjogI0ZGRkZGRjtcblx0cGFkZGluZzogMHB4ICRzcGFjaW5nLS1tZWRpdW07XG59XG5cbi5uYXZiYXJfX2hlYWRlcntcbn1cblxuLm5hdmJhcl9fbGlua3tcblx0ZGlzcGxheTogaW5saW5lO1xuXHRwYWRkaW5nOiAkc3BhY2luZy0teC1zbWFsbDtcblx0Zm9udC13ZWlnaHQ6IDUwMDtcbn1cblxuLmxvZ297XG5cdGhlaWdodDogMjVweDtcblx0bWFyZ2luLWxlZnQ6ICRzcGFjaW5nLS1zbWFsbDtcbn0iLCIuZm9ybV9fd3JhcHtcblx0d2lkdGg6IDM1MHB4O1xuXHRtYXgtd2lkdGg6IDEwMCU7XG4gICAgbWFyZ2luOiBhdXRvO1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICRsaWdodDtcbiAgICBib3gtc2hhZG93OiAwcHggMnB4IDZweCAwcHggcmdiYSgkYmxhY2ssMC4yKTtcbiAgICBwYWRkaW5nOiAkc3BhY2luZy0tc21hbGwgICRzcGFjaW5nLS1tZWRpdW07XG59XG5cblxubGFiZWx7XG5cdGRpc3BsYXk6IGJsb2NrO1xuXHRwYWRkaW5nOiAxMHB4IDBweCA1cHg7XG5cdGZvbnQtc2l6ZTogIDAuODEyNXJlbTtcbn1cblxuaW5wdXR7XG5cdHdpZHRoOiAxMDAlO1xuXHRib3JkZXI6IDFweCBzb2xpZCAgJGxpZ2h0O1xuXHRwYWRkaW5nOiAxMHB4O1xuXHQmOmZvY3Vze1xuXHRcdG91dGxpbmU6IG5vbmU7XG5cdFx0Ym9yZGVyOiAxcHggc29saWQgcmdiYSgwLCAwLCAwLCAwLjUpO1xuXHRcdGJveC1zaGFkb3c6IGluc2V0IDAgMXB4IDFweCByZ2JhKDAsIDAsIDAsIDAuMyk7XG5cdH1cbn1cblxuLmJveC1saXN0e1xuICB3aWR0aDogOTUwcHg7XG4gIG1hcmdpbjogYXV0bztcbiAgbWF4LXdpZHRoOiAxMDAlO1xuICBtYXJnaW4tdG9wOiAzMHB4O1xuICBwYWRkaW5nOiAyMHB4IDEwcHg7XG59XG5cbi5ib3h7XG5cdGJvcmRlcjogMXB4IHNvbGlkICRsaWdodDtcbiAgICBib3gtc2hhZG93OiAwcHggMnB4IDZweCAwcHggcmdiYSgkYmxhY2ssMC4yKTtcbiAgICBtYXJnaW46NXB4O1xuICAgIHBhZGRpbmc6IDEwcHg7XG59XG5cbi5ib3hfX2Rlc2N7XG5cdGZvbnQtc2l6ZTogMTVweDtcblx0Y29sb3I6ICRtYWluLWNvbG9yO1xufVxuXG4uYm94X19pbmZve1xuXHRmb250LXNpemU6IDEzcHg7XG5cdGNvbG9yOiAkZ3JleTtcblx0c3Bhbntcblx0XHRjb2xvcjogJG1haW4tY29sb3ItZGFyaztcblx0XHRmb250LXdlaWdodDogNjAwO1xuXHR9XG5cdFxufVxuXG5cbi5idG4tZGVmYXVsdHtcblx0Ym9yZGVyOiBub25lO1xuICAgIHBhZGRpbmc6ICRzcGFjaW5nLS1zbWFsbDtcbiAgICBiYWNrZ3JvdW5kOiAkbWFpbi1jb2xvcjtcbiAgICBjb2xvcjogd2hpdGU7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgdHJhbnNpdGlvbjogYWxsIDAuMnMgZWFzZS1pbi1vdXQ7XG4gICAgZm9udC1zaXplOiAwLjkzNzVyZW07XG4gICAgY3Vyc29yOiBwb2ludGVyO1xuICAgICY6aG92ZXJ7XG4gICAgXHRiYWNrZ3JvdW5kOiAkbWFpbi1jb2xvci1kYXJrO1xuICAgIH1cbn1cblxuLmJ0bi1kYXJre1xuXHRAZXh0ZW5kIC5idG4tZGVmYXVsdDtcblx0YmFja2dyb3VuZDogJG1haW4tY29sb3ItZGFyaztcblx0Jjpob3ZlcntcbiAgICBcdGJhY2tncm91bmQ6ICRibGFjaztcbiAgICB9XG59Il19 */
